{% paginate search.results by 16 %}

<div class="layout-content-wrapper">
  <div class="container">

    {% capture title %}
      {% if search.performed %}
        {{ 'general.search.results_for_html' | t: terms: search.terms }}
      {% else %}
        {{ 'general.search.title' | t }}
      {% endif %}      
    {% endcapture %}

    {% capture subtitle %}
      {% if search.results_count > 0 %}
        {% if search.results_count == 1 %}
          {{ 'general.search.results_count_singular' | t }}
        {% else %}
          {{ 'general.search.results_count_plural' | t: count: search.results_count }}
        {% endif %}
      {% endif %}
    {% endcapture %}

    {% include 'page-header',
            title: title,
            subtitle: subtitle
    %}

    {% if search.performed %}
      {% if search.results.size > 0 %}
        <div class="container">
          <div class="content-grid">
            {% for item in search.results %}
              <div class="content-grid__item">
                {% if item.object_type == 'product' %}
                  {% include 'product-card', product: item, quick_view: true %}
                {% elsif item.object_type == 'article' %}
                  {% include 'article-card', article: item %}  
                {% else %}
                  <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

      {% else %}    
       <p class="p1 u-ta-center">No search results found</p>
      {% endif %}

    {% endif %}

  </div>
</div>

{% endpaginate %}
