{%- comment %}

  Banner Panel
  ------------------------------------------------------------------------------

  Usage:

  {% include 'banner-panel',
              bp_id: { string } - required
              bp_content_alignment: { string } - optional
              bp_vertical_padding: { number } - optional
              bp_vertical_padding_mobile: { number } - optional
              bp_content_max_width: { number } - optional
              bp_background_image: { image } - optional
              bp_background_image_vertical_alignment: { string } - optional - defaults to "center"
              bp_background_image_medium: { image } - optional
              bp_background_image_medium_vertical_alignment: { string } - optional - defaults to "center"
              bp_background_image_small: { image } - optional
              bp_background_image_small_vertical_alignment: { string } - optional - defaults to "center",
              bp_overlay: { string } - optional - accepted values are "light" and "dark"
              bp_light_text: { boolean }
              bp_title: { string }
              bp_text: { string }
              bp_text_alignment: { string } - optional - defaults to "center"
              bp_cta_url: { url }
              bp_cta_text { string }
  %}

{% endcomment -%}

{% comment %} Defaults {% endcomment %}
{% if bp_background_image_vertical_alignment == blank %}
  {% assign bp_background_image_vertical_alignment = 'center' %}
{% endif %}

{% if bp_background_image_medium_vertical_alignment == blank %}
  {% assign bp_background_image_medium_vertical_alignment = 'center' %}
{% endif %}

{% if bp_background_image_small_vertical_alignment == blank %}
  {% assign bp_background_image_small_vertical_alignment = 'center' %}
{% endif %}

{% if bp_text_alignment == blank %}
  {% assign bp_text_alignment = 'center' %}
{% endif %}

{% comment %} Check for missing arguments {% endcomment %}
{% assign has_title = false %}
{% if bp_title != blank %}
  {% assign has_title = true %}
{% endif %}

{% assign has_text = false %}
{% if bp_text != blank %}
  {% assign has_text = true %}
{% endif %}

{% assign has_cta = false %}
{% if bp_cta_url != blank and bp_cta_text != blank %}
  {% assign has_cta = true %}
{% endif %}

{% comment %} Only show the banner panel if there is text or a cta or a background image {% endcomment %}
{% if has_title or has_text or has_cta or bp_background_image %}

  <div id="banner__panel-{{ bp_id }}" class="banner__panel{% if bp_light_text %} banner__panel--light{% endif %}">

    <style type="text/css">
      {% if bp_vertical_padding != blank %}
      #banner__panel-{{ bp_id }} {
        padding-top: {{ bp_vertical_padding | append: 'px' }};
        padding-bottom: {{ bp_vertical_padding | append: 'px' }};
      }
      {% endif %}
      #banner__panel-{{ bp_id }} .banner__content-container {
        text-align: {{ bp_text_alignment }};
        {% if bp_content_max_width != blank %}
          max-width: {{ bp_content_max_width | append: 'px' }};
        {% endif %}
      }
      {% if bp_background_image %}
      #banner__panel-{{ bp_id }} .banner__bg-image {
        background-image: url({{ bp_background_image | img_url: '1800x' }});
        background-position: center {{ bp_background_image_vertical_alignment }};
      }

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        #banner__panel-{{ bp_id }} .banner__bg-image {
          background-image: url({{ bp_background_image | img_url: '2400x' }});
        }
      }
      {% endif %}

      @media (max-width: 991px) {
        #banner__panel-{{ bp_id }} .banner__bg-image {
          background-position: center {{ bp_background_image_medium_vertical_alignment }};
          {% if bp_background_image_medium %}
            background-image: url({{ bp_background_image_medium | img_url: '1000x' }});
          {% elsif bp_background_image %}
            background-image: url({{ bp_background_image | img_url: '1000x' }});
          {% endif %}
        }      
      }
      @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px),
              (min-resolution: 192dpi)           and (max-width: 991px) {
        #banner__panel-{{ bp_id }} .banner__bg-image {
          {% if bp_background_image_medium %}
            background-image: url({{ bp_background_image_medium | img_url: '1500x' }});
          {% elsif bp_background_image %}
            background-image: url({{ bp_background_image | img_url: '1500x' }});
          {% endif %}
        }
      }

      @media (max-width: 767px) {
        {% if bp_vertical_padding_mobile != blank %}
        #banner__panel-{{ bp_id }} {
          padding-top: {{ bp_vertical_padding_mobile | append: 'px' }};
          padding-bottom: {{ bp_vertical_padding_mobile | append: 'px' }};
        }
        {% endif %}
        #banner__panel-{{ bp_id }} .banner__bg-image {
          background-position: center {{ bp_background_image_small_vertical_alignment }};
          {% if bp_background_image_small %}
            background-image: url({{ bp_background_image_small | img_url: '800x' }});
          {% elsif bp_background_image %}
            background-image: url({{ bp_background_image | img_url: '800x' }});
          {% endif %}
        }
      }
      @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
              (min-resolution: 192dpi)           and (max-width: 767px) {
        #banner__panel-{{ bp_id }} .banner__bg-image {
          {% if bp_background_image_small %}
            background-image: url({{ bp_background_image_small | img_url: '1200x' }});
          {% elsif bp_background_image %}
            background-image: url({{ bp_background_image | img_url: '1200x' }});
          {% endif %}
        }
      }      
    </style>

    {% if bp_background_image or bp_background_image_medium or bp_background_image_small %}
      <div class="banner__bg-container">
        <div class="banner__bg-image" role="img" aria-label="{{ bp_background_image.alt }}"></div>
      </div>
    {% endif %}

    {% if bp_overlay == "light" or bp_overlay == "dark" %}
      <div class="banner__overlay banner__overlay--{{ bp_overlay }}"></div>
    {% endif %}

    <div class="container-fluid-max">
      <div class="banner__content-container banner__content-container--{{ bp_content_alignment }}">
        {% if has_title %}
          <h3 class="banner__title">{{ bp_title }}</h3>
        {% endif %}
        {% if has_text %}
          <div class="banner__text">{{ bp_text }}</div>
        {% endif %}

        {% capture cta_html %}
          {% if has_cta %}
            <a href="{{ bp_cta_url }}" class="btn btn-primary">{{ bp_cta_text }}</a>
          {% endif %}
        {% endcapture %}

        {% if cta_html != blank %}
          <div class="cta-group">{{ cta_html }}</div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
