{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
  <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
    <div class="breadcrumbs__crumb">
      <a href="/" title="Home">Home</a>
    </div>

    {% if template contains 'page' %}
      <div class="breadcrumbs__crumb">{{ page.title }}</div>
    {% elsif template contains 'product' %}
      {% if collection.url %}
        <div class="breadcrumbs__crumb">{{ collection.title | link_to: collection.url }}</div>
      {% endif %}
      <div class="breadcrumbs__crumb">{{ product.title }}</div>
    {% elsif template contains 'account' %}
      <div class="breadcrumbs__crumb">{{ 'customer.orders.title' | t }}</div>
    {% elsif template contains 'order' %}
      <div class="breadcrumbs__crumb"><a href="/account">{{ 'customer.orders.title' | t }}</a></div>
      <div class="breadcrumbs__crumb">{{ page_title }}</div>
    {% elsif template contains 'addresses' %}
      <div class="breadcrumbs__crumb">{{ 'customer.account.details' | t }}</div>
    {% elsif template contains 'collection' and collection.handle %}

      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        <div class="breadcrumbs__crumb">
          {% if prev_link %}
            {{ collection.title | remove: prev_link[0] | rstrip | link_to: url }}
          {% else %}
           {{ collection.title | link_to: url }}
          {% endif %}
        </div>

        {% comment %}
          Another awful capture group
          Removes the suffix for filter tags, and join them in an array that can be joined in a nice way to be displayed in a breadcrumb.
        {% endcomment %}
        {% assign filter_types = 'Color:,color:,Size:,size:' | split: ',' %}
        {% capture tags %}
          {% for tag in current_tags %}
            {% for filter in filter_types %}
              {% if tag contains filter %}
                {{ tag | split: ':' | first | capitalize }}: {{ tag | split: ':' | last | replace: '-', ' ' | capitalize }}
              {% endif %}
            {% endfor %}
            {% unless forloop.last %}@{% endunless %}
          {% endfor %}
        {% endcapture %}

        <div class="breadcrumbs__crumb">{{ tags | split: '@' | join: " + " }}</div>
      {% else %}
        <div class="breadcrumbs__crumb">
          {% if prev_link %}
            {{ collection.title | remove: prev_link[0] | rstrip }}
          {% else %}
            {{ collection.title }}
          {% endif %}
        </div>
      {% endif %}
    {% elsif template == 'blog' %}
      {% if current_tags %}
        {{ blog.title | link_to: blog.url }}
        <div class="breadcrumbs__crumb">{{ current_tags | join: " + " }}</div>
      {% else %}
      <div class="breadcrumbs__crumb">{{ blog.title }}</div>
      {% endif %}
    {% elsif template == 'article' %}
      <div class="breadcrumbs__crumb">{{ blog.title | link_to: blog.url }}</div>
      <div class="breadcrumbs__crumb">{{ article.title }}</div>
    {% else %}
     <div class="breadcrumbs__crumb">{{ page_title }}</div>
    {% endif %}
  </nav>
{% endunless %}
