{%- comment %}

  Collection Filters
  ------------------------------------------------------------------------------

  Usage:

  {% include 'collection-filters',
              filter_types: { array } - ['color:Red, color:Dark Green, style:Polo']
  %}

  It looks through all the tags looking for certain tags that will become filters.

  The tags used for filters are the ones that start with the filter_types passed in.

  Tags are case-sensitive, so we will not do any transformation to them for filtering and transform them only for presentational purpose (capitalize).

{% endcomment -%}

{% unless collection == empty and filter_types != blank %}

  {% assign collection_url = collection.url %}
  {% comment %} collection.url returns nothing for the 'all' collection {% endcomment %}
  {% if collection.handle == 'all' %}
    {% assign collection_url = '/collections/all' %}
  {% endif %}

  {%- capture filters_html %}

    {% for filter_type in filter_types %}
      
      {% assign filter_type_options_count = 0 %}
      
      {% comment %} Create the list of <option> tags {% endcomment %}
      {%- capture filter_type_select_content -%}

        {% comment %} Create an empty option to select all / clear the filters {% endcomment %}
        <option value="">All</option>

        {%- for tag in collection.all_tags -%}

          {%- assign tag_type = tag | split: ':' | first -%} {% comment %} turns 'color:Dark Blue' into 'color' {% endcomment %}
          {%- assign tag_display = tag | split: ':' | last -%} {% comment %} turns 'color:Dark Blue' into 'Dark Blue' {% endcomment %}
          
          {% if tag_type == filter_type %}
            {% assign filter_type_options_count = filter_type_options_count | plus: 1 %}
            <option value="{{ tag }}" {% if current_tags contains tag %}selected{% endif %}>
              {{ tag_display }}
            </option>
          {% endif %}

        {% endfor %}
      {% endcapture %}

      {% comment %} Construct a select tag for it if we have more than 1 option to display {% endcomment %}
      {% if filter_type_options_count > 1 %}
        <div class="collection-filter-bar__entry">
          <label>{{ filter_type | capitalize }}</label>
          <select class="form-control" data-filters-type="{{ filter_type }}" data-filters-type-select>
            {{ filter_type_select_content }}
          </select>
        </div>
      {% endif %}

    {% endfor %}
  {% endcapture %}

  {% comment %} If we have any select tags, output them here {% endcomment %}
  {% if filters_html != blank %}
    
    {{ filters_html }}

    {% if current_tags %}
      <a href="{{ collection_url }}">Clear all filters</a>
    {% endif %}
  {% endif %}

{% endunless %}

