{% comment %}
  Filters Snippet

  It looks through all the tags looking for certain tags that will become filters.

  The tags using for filtering are the ones that starts with:
    - `color:`
    - `size:`

  Tags are case-sensitive, so we will not do any transformation to them for filtering and transform them only for presentational purpose (capitalize).
{% endcomment %}

{% unless collection == empty %}

  <div class="collection-filters" data-filters>

    {% assign filter_types = 'color,size' | split: "," %}
    {% assign filters_set = false %}
    {% assign filters_count = 3 %}

    {%- capture filters_html %}

      {% for filter_type in filter_types %}
        
        {% assign filter_type_options_count = 0 %}
        
        {% comment %} Create the list of <option> tags {% endcomment %}
        {%- capture filter_type_select_content -%}

          {% comment %} Create an empty option to select all / clear the filters {% endcomment %}
          <option value="">All</option>

          {%- for tag in collection.all_tags -%}

            {% comment %} turns 'color:Dark Blue' into 'color' {% endcomment %}
            {%- assign tag_type = tag | split: ':' | first -%}
            {% comment %} turns 'color:Dark Blue' into 'Dark Blue' {% endcomment %}
            {%- assign tag_display = tag | split: ':' | last -%}
            
            {% if tag_type == filter_type %}
              {% assign filter_type_options_count = filter_type_options_count | plus: 1 %}
              <option value="{{ tag }}" {% if current_tags contains tag %}selected{% endif %}>
                {{ tag_display }}
              </option>
            {% endif %}

          {% endfor %}
        {% endcapture %}

        {% comment %} Construct a select tag for it if we have more than 1 option to display {% endcomment %}
        {% if filter_type_options_count > 1 %}
          <label>{{ filter_type | capitalize }}</label>
          <select class="form-control" data-filters-type="{{ filter_type }}" data-filters-type-select>
            {{ filter_type_select_content }}
          </select>
        {% endif %}

      {% endfor %}
    {% endcapture %}

    {% comment %} If we have any select tags, output them here {% endcomment %}
    {% if filters_html != blank %}

      <p>Filter</p>
      {{ filters_html }}

      {% if current_tags %}
        <a href="#" data-filters-clear>
          Clear all filters
        </a>
      {% endif %}
    {% endif %}

  </div>

{% endunless %}

