{%- comment %}

  Content Card 
  ------------------------------------------------------------------------------

  Usage:

  {% include 'content-card',
              cc_title: { string } - optional
              cc_subtitle: { string } - optional
              cc_text: { string } - optional
              cc_cta_text: { string } - optional
              cc_cta_url: { url } - optional
  %}

{% endcomment -%}

<div class="content-card">

  {% if cc_title != blank or cc_subtitle != blank %}
    <div class="content-card__header">
      {% if cc_title != blank %}
        <h3 class="content-card__title">{{ cc_title }}</h3>
      {% endif %}
      {% if cc_subtitle != blank %}
        <h5 class="content-card__subtitle">{{ cc_subtitle }}</h5>
      {% endif %}
    </div>
  {% endif %}

  {% if cc_text != blank %}
    <div class="content-card__body">{{ cc_text }}</div>
  {% endif %}

  {% if cc_cta_text != blank and cc_cta_url != blank %}
    <a href="{{ cc_cta_url }}" class="btn btn-primary btn-block">{{ cc_cta_text }}</a>
  {% endif %}

</div>
