{% comment %}
  Filters Snippet

  It looks through all the tags looking for certain tags that will become filters.

  The tags using for filtering are the ones that starts with:
    - `color-`
    - `size-`
    - `gallery-`

  Tags are case-sensitive, so we will not do any transformation to them for filtering and transform them only for presentational purpose (capitalize).

  Also manages Sort By (that works in conjuntion with Filters at some points)
{% endcomment %}

{% assign filter_options = 'color,size,gallery' | split: "," %}
{% assign filters_set = false %}
{% assign filters_count = 3 %}

<div class="Filters" data-selector="filter-main-container">
  <div class="Filter-label" data-selector="append-filter-mobile">
    <label data-selector="hide-label-mobile">Filter By</label>
    <div class="Select hidden-lg hidden-xl" data-selector="filter-select-mobile">
      <a href="#" class="Select--inner" data-action="mobile-filter-toggle">Filter By</a>
    </div>
  </div>
  {% for option in filter_options %}
    {% assign selected_by_option = '' %}
    {%- capture filter_content -%}
      {%- for tag in collection.all_tags -%}
        {%- assign tag_type = tag | split: '-' -%}
        {%- assign type = option | append: '-' -%}

        {% if tag_type[0] == option %}
          {% assign display_tag = tag | remove: type | replace: '-', ' ' | capitalize %}
          <div class="Select Select--filter" data-selector="filter-item">
            <a class="Select-inner {% if current_tags contains tag %}is-active{% endif %}" href="#" data-value="{{ tag }}" data-selector="filter-select">{{ display_tag }}</a>
          </div>
          {% assign filters_set = true %}
          {% if current_tags contains tag %}
            {% assign selected_by_option = display_tag %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endcapture %}
    {% assign filter_content = filter_content | strip %}
    {% if filter_content != blank %}
      {% capture popover_content %}
        <div class="Content">
          <div class="Filter-itemWrap">
            {{ filter_content }}
          </div>
        </div>
        <div class="Error">Error: Up to 3 Filters Max</div>
      {%- endcapture -%}
      {% assign filters_count = filters_count | minus: 1 %}
      <div class="Filter-cell" data-selector="filter-container">
        <div class="Select">
          <a class="Select-inner" href="#" data-option="{{ option | capitalize }}" data-action="filter">{% if selected_by_option != blank %}{{ selected_by_option }}{% else %}{{ option | capitalize }}{% endif %}</a>
        </div>
        {% include 'popover',
          popover_classnames: 'FilterPopover',
          popover_content: popover_content,
          data_selector: 'filter-popover'
        %}
      </div>
    {% endif %}
  {% endfor %}

  {% if filters_set %}
    {% assign applied_filters = current_tags | size %}
    <div class="Filter-label hidden-xs hidden-sm">
      {% if applied_filters > 0 %}
        <button data-action="filter-clear">Clear All</button>
      {% endif %}
    </div>
  {% else %}
    <div class="Filter-label">
      <label>No filters</label>
    </div>
  {% endif %}
  <div class="Filter-label">
    <label>Sort By</label>
  </div>
  <div class="Filter-cell" data-selector="sort-container">
    {% assign sort_options = 'created-descending|Newest,price-ascending|Price: $ - $$,price-descending|Price: $$ - $,best-selling|Best Selling' | split: ',' %}
    {% assign selected_sort =  collection.sort_by | default: collection.default_sort_by %}
    {% assign selected_sort_label = 'Sort By' %}

    {% capture sort_combo %}
      {% for option in sort_options %}
        {% assign option_couple = option | split: '|' %}
        <div class="Filter-item">
          <a class="{% if selected_sort == option_couple[0] %}is-active{% endif %}" href="#" data-value="{{ option_couple[0] }}" data-selector="sort-select">{{ option_couple[1] }}</a>
        </div>
        {% if selected_sort == option_couple[0] %}
          {% assign selected_sort_label = option_couple[1] %}
        {% endif %}
      {% endfor %}
    {% endcapture %}

    {% capture sort_popover_content %}
      <div class="Content">
        <div class="Filter-itemWrap">
          {{ sort_combo }}
        </div>
      </div>
    {% endcapture %}

    <div class="Select">
      <a class="Select-inner" href="#" data-action="sort">{{ selected_sort_label }}</a>
    </div>
    {% include 'popover',
      popover_content: sort_popover_content,
      data_selector: 'sort-option-container'
    %}
  </div>
</div>

<script>
(function () {
  window.theme = window.theme || {};

  window.theme.collectionData = {
    url: {{ collection.url | json }},
    sortDefault: {{ collection.default_sort_by | json }},
    sortApplied: {{ collection.sort_by | json }}
  };
}());
</script>
