{% if template.name == 'index' %}
  <h1 itemscope itemtype="http://schema.org/Organization" style="display: none !important;">{{ shop.name }}</h1>
{% else %}
  <div class="h1" itemscope itemtype="http://schema.org/Organization" style="display: none !important;">{{ shop.name }}</div>
{% endif %}

<a href="/" itemprop="url" class="header-logo">
   {% assign logo_img = 'logo.png' %}
   {% assign logo_img_size = '200x' %}
    <img src="{{ logo_img | asset_img_url: logo_img_size }}"
         srcset="{{ logo_img | asset_img_url: logo_img_size }} 1x, {{ logo_img | asset_img_url: logo_img_size, scale: 2 }} 2x"
         alt="{{ shop.name }}"
         class="header-logo__image"
         itemprop="logo">
</a>