{%- comment %}

  Header Dropdown CTA
  ------------------------------------------------------------------------------

  Usage:

  {% include 'header-dropdown-cta',
              cta_link: { url } - optional
              cta_image: { image } - optional
              cta_text: { string } - optional
  %}

{% endcomment -%}

{% assign has_cta_link = false %}
{% if cta_link != blank %}
  {% assign has_cta_link = true %}
{% endif %}

{% if cta_image or cta_text != blank %}
  <div class="header-dropdown__cta">
    {% if cta_image %}

      {% if has_cta_link %}<a href="{{ cta_link }}">{% endif %}
        <div class="header-dropdown__cta-square" style="background-image: url({{ cta_image | img_url: '500x' }})"></div>
        <span>{{ cta_text }}</span>
      {% if has_cta_link %}</a>{% endif %}

    {% else %}

      <div class="header-dropdown__cta-square">
        <span class="header-dropdown__cta-square-text">
          {% if has_cta_link != blank %}
            <a href="{{ cta_link }}">
          {% endif %}
            {{ cta_text }}
          {% if has_cta_link != blank %}</a>{% endif %}
        </span>
      </div>

    {% endif %}
  </div>
{% endif %}