{%- comment %}

	Hero Snippet
  ============
  @description This snippet should get included in a hero `sections` on a template-by-template basis

  @param hero_classnames {string} - Top-level hero classnames
  @param hero_height {string} - Sets the height of the hero, expects `.Hero[--sm][--md][--lg]`
  @param background_image {string} - This a var assigned via section.settings
  @param shrink_hero_container_width {boolean} - Toggles the width of the container for the title & desc
  @param hero_title {string} - Top-level heading for hero
  @param hero_desc {string} - Sub-header copy below the title
  @param hero_has_cta {boolean} - Toggles visibility of the CTA
  @param button_title {string} - CTA button title
  @param button_url - CTA button URL

{% endcomment -%}

<section
  class="
    {% if hero_classnames != '' %}{{- hero_classnames -}}{{' '}}{% endif %}
    {{- hero_height -}}{{' '}}
  ">
  <div class="Hero-background Hero-imageBackground" {%- if background_image -%}style="background-image: url('{{ background_image }}');"{%- endif -%}></div>

  {%- comment %} REVIEW: Is a background overlay toggle something we want to have as an option? {% endcomment -%}
  {% unless section.settings.background_overlay == 0 %}
    <div class="Hero-background Hero-overlayBackground"></div>
  {% endunless %}

  <div class="container{%- if shrink_hero_container_width %} container--isShrunken{% endif %} flex-1 flex u-pos-rel u-full-width">
    <div class="flex-1 flex-align-self-center">
      <h1 class="Hero-h1 h1 flex-1 u-ta-center u-pos-rel z-index-1{% if hero_desc != blank or hero_has_cta %} u-mb__lg u-mb-lg__xl{% endif %}">
        {{ hero_title }}
      </h1>
      {% if hero_desc %}
        <h2 class="Hero-h3 u-pos-rel{% if hero_has_cta %} u-mb__lg{% endif %} u-ta-center">
          {{ hero_desc }}
        </h2>
      {% endif %}
      {% if hero_has_cta %}
        <div class="u-ta-center">
          <a href="{{ button_url }}" class="Button" alt="{{ button_title }}" target="_blank">
            {%- if button_title %}{{- button_title }}{% else %}See More{% endif -%}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</section>
