{%- comment %}

  Page CMS Section Renderer
  ------------------------------------------------------------------------------

  Usage:

  {% include 'page-cms-section-renderer',
              section: section
  %}

  Renders section content.  This snippet should be used as the single point of entry for rendering CMS section content - see sections/page-cms.liquid

  Renders blocks of the following types:
    - promo
    - article_grid
    - product_grid
    - banner
    - richtext
    - video

{% endcomment -%}

<div class="layout-content-wrapper flush-top" data-section-id="{{ section.id }}" data-section-type="cms-page">

    {% include 'page-hero',
                ph_id: section.id,
                ph_background_image: section.settings.background_image,
                ph_background_image_small: section.settings.background_image_small,
                ph_content_max_width: section.settings.content_max_width,
                ph_content_alignment: section.settings.content_alignment,
                ph_light_text: section.settings.content_light_text,
                ph_height: section.settings.hero_height,
                ph_title: section.settings.title,
                ph_subtitle: section.settings.subtitle,
                ph_cta_url: section.settings.cta_url,
                ph_cta_text: section.settings.cta_text
    %}

    {% for block in section.blocks %}  
      <div class="cms-page-block" {{ block.shopify_attributes }}>
        {% if block.type == "promo" %}
        
          <div class="container">
            {% include 'promo',
                        p_id: block.id,
                        p_layout: block.settings.layout,
                        p_type: block.settings.type,
                        p_content_max_width: block.settings.content_max_width,
                        p_image: block.settings.image,
                        p_title: block.settings.title,
                        p_text: block.settings.text,
                        p_cta_url: block.settings.cta_url,
                        p_cta_text: block.settings.cta_text
            %}
          </div>
        
        {% elsif block.type == "article_grid" %}
          <!-- Article Grid -->
          {% assign article_count = 0 %}
          {% capture article_grid_html %}
            {% for i in (1..3) %}
              {% capture article_settings_handle %}article_{{ i }}{% endcapture %}
              {% assign article = articles[block.settings[article_settings_handle]] %}
              {% if article != blank %}
                <div class="content-grid__item">
                  {% include 'article-card', article: article %}
                </div>
                {% assign article_count = article_count | plus: 1 %}
              {% endif %}
            {% endfor %}
          {% endcapture %}

          <div class="container">

            {% include 'content-header', ch_title: block.settings.title %}

            <div class="content-grid content-grid--centered content-grid--lg-{{ article_count }}-col">
              {{ article_grid_html }}
            </div>

            {% if block.settings.cta_text != blank and block.settings.cta_url != blank %}
              <div class="content-footer">
                <a href="{{ block.settings.cta_url }}" class="btn btn-primary">
                  {{ block.settings.cta_text }}                 
                </a>
              </div>
            {% endif %}

          </div>
          <!-- END Article Grid -->
        {% elsif block.type == "product_grid" %}

          {% assign product_count = 0 %}
          {% capture product_grid_html %}
            {% for i in (1..3) %}
              {% capture product_setting_handle %}product_{{ i }}{% endcapture %}
              {% assign product_handle = block.settings[product_setting_handle] %}
              {% assign product = all_products[product_handle] %}
              {% if product_handle != blank %}
                <div class="content-grid__item">
                  {% include 'product-card', product: product %}
                </div>
                {% assign product_count = product_count | plus: 1 %}
              {% endif %}
            {% endfor %}   
          {% endcapture %}

          <!-- Product Grid -->
          <div class="container">

            {% include 'content-header', ch_title: block.settings.title %}

            {% if product_grid_html != blank %}
              <div class="content-grid content-grid--centered">
                {{ product_grid_html }}
              </div>
            {% endif %}

            {% if block.settings.cta_text != blank and block.settings.cta_url != blank %}
              <div class="content-footer">
                <a href="{{ block.settings.cta_url }}" class="btn btn-primary">
                  {{ block.settings.cta_text }}        
                </a>
              </div>          
            {% endif %}

          </div>

        {% elsif block.type == "banner" %}

          <!-- Banner -->
          {% capture banner_panel_html %}
              {% include 'banner-panel',
                      bp_id: block.id,
                      bp_content_alignment: block.settings.content_alignment,
                      bp_content_max_width: block.settings.content_max_width,
                      bp_background_image: block.settings.background,
                      bp_background_image_small: block.settings.background_image_small,
                      bp_light_text: block.settings.light_text,
                      bp_title: block.settings.title,
                      bp_text: block.settings.text,
                      bp_text_alignment: block.settings.text_alignment,
                      bp_cta_url: block.settings.cta_url,
                      bp_cta_text: block.settings.cta_text
              %}
          {% endcapture %}

          {% if banner_panel_html != blank %}
            <div class="banner">
              {{ banner_panel_html }}
            </div>
          {% endif %}
          <!-- END Banner -->

        {% elsif block.type == "richtext" %}

          <div class="container">

            {% include 'content-header', ch_title: block.settings.title %}

            {% include 'richtext-block'
                        id: block.id,
                        content_max_width: block.settings.content_max_width,
                        content_alignment: block.settings.content_alignment,
                        text_alignment: block.settings.text_alignment,
                        content: block.settings.content
            %}

          </div>

        {% elsif block.type == "video" %}
          <div class="container">
            <div id="video-player-{{ block.id }}" class="video-player" data-video-player data-video-id="{{ block.settings.video_url.id }}" data-video-type="{{ block.settings.video_url.type }}" data-background="{% if block.settings.background %}true{% else %}false{% endif %}" data-embed-color="{{ block.settings.embed_color | remove: '#' }}">
              {% if block.settings.cover_image and block.settings.background == false %}
                <div class="video-player__cover" data-video-player-cover>
                  <div class="video-player__cover-still" style="background-image: url({{ block.settings.cover_image | img_url: '2000x' }});"></div>
                  <span class="video-player__cover-play">
                    {% include 'icon-play' %}
                  </span>
                </div>
              {% endif %}
              <div class="video-player__embed" data-video-player-embed></div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}

</div>
