{%- comment %}

  Product Detail Form Gallery
  ------------------------------------------------------------------------------

  - In order to build multiple galleries for every color option, we need to loop through all the colors, then all the available product images to see if we have one or more image for each
  - This snippet only to be used on the product template!
  - It's too bad that we have to duplicate the gallery code twice in the same file but liquid kind of sucks so this is the best we can do
  - Normal and Variant Galleries share the same code structure
    .product-galleries
      .product-gallery
        .product-gallery__slideshow-wrapper
          ul.product-gallery__slideshow <- Needs an id in order for the asNavFor to work
            li.product-gallery__slideshow-slide
              a
                img
        .product-gallery__thumbnails-wrapper
          ul.product-gallery__thumbnails <- Needs an id in order for the asNavFor to work
            li.product-gallery__thumbnails-slide
              img
  - The only difference between the two is that .product-gallery elements gets a `data-variant-gallery` attribute matching the color value associated with it

  Usage:

  {% include 'product-detail-form-gallery',
              product: { product } - required
              current_variant: { current_variant }
  %}  

  Requires:
  - product.liquid
  - product-detail.scss
  - product.js
  - slate/slideshow.js

{% endcomment -%}

{% assign photo_main_dimension = '900x900' %}
{% assign photo_zoom_dimension = '1400x1400' %}
{% assign alt_swatch_identifier = 'swatch' %} {% comment %} Used to find swatch images attached at the product level.  We don't want to display them in the gallery. {% endcomment %}

{% if current_variant == blank %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
{% endif %}

{% comment %}
  This block of logic loops through all product images and checks if we have at least 1 with valid alt text for *each* color option.
{% endcomment %}
{% assign variant_gallery_possible = false %}

{% for option in product.options_with_values %}
  {% assign option_name_downcase = option.name | downcase %}
  {%- comment %} If the variant option name is "color" {% endcomment -%}
  {% if option_name_downcase == "color" %}
    {% assign colors_with_images = 0 %}
    {% for color in option.values %}
      {% assign color_downcase = color | downcase %}
      {% for image in product.images %}
        {% assign image_alt_downcase = image.alt | downcase %}
        {% if image_alt_downcase contains color_downcase %}
          {% unless image_alt_downcase contains alt_swatch_identifier %}
            {% assign colors_with_images = colors_with_images | plus: 1 %}
            {% break %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% if colors_with_images == option.values.size %}
      {% assign variant_gallery_possible = true %}
    {% endif %}
  {% endif %}
{% endfor %}


<div class="product-galleries">

  {% if variant_gallery_possible %}

    {% comment %} Make a gallery for each variant {% endcomment %}
    {% for option in product.options_with_values %}
      {% assign option_name_downcase = option.name | downcase %}
      {% if option_name_downcase == "color" %}
        {% for color in option.values %}
          {% assign color_downcase = color | downcase %}
          {% assign color_index = forloop.index %}

          <div class="product-gallery{% if option.selected_value != color %} hide{% endif %}" data-product-gallery data-variant-gallery="{{ color }}">
            <div class="product-gallery__slideshow-wrapper">
              <ul id="slideshow-{{ product.id }}-{{ forloop.index }}" class="product-gallery__slideshow" data-product-gallery-slideshow>
                {% for image in product.images %}
                  {% assign image_alt_downcase = image.alt | downcase %}
                  {% if image_alt_downcase contains color_downcase %}
                    {% comment %} if alt doesn't contain the swatch identifier {% endcomment %}
                    {% unless image_alt_downcase contains alt_swatch_identifier %}
                      <li class="product-gallery__slideshow-slide"
                          data-image="{{ image.id }}"
                          {% if image.id == current_variant.featured_image.id %} data-initial-slide{% endif %}>
                        <a href="{{ image | img_url: photo_zoom_dimension }}" data-product-gallery-slide-link>
                          <img src="{{ image | img_url: photo_main_dimension }}" alt="{{ image.alt | escape }}"e>
                        </a>
                        <a href="#" class="product-gallery__zoom-trigger zoom-trigger" data-zoom-button></a>
                      </li>
                    {% endunless %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div class="product-gallery__thumbnails-wrapper">
              <ul id="slideshow-thumbs-{{ product.id }}-{{ forloop.index }}" class="product-gallery__thumbnails" data-product-gallery-thumbnail>
                {% for image in product.images %}
                  {% assign image_alt_downcase = image.alt | downcase %}
                  {% if image_alt_downcase contains color_downcase %}
                    {% unless image_alt_downcase contains alt_swatch_identifier %}
                      <li class="product-gallery__thumbnails-slide" data-product-gallery-thumbnail-slide>
                        <img src="{{ image.src | img_url: photo_thumb_dimension }}" alt="{{ image.alt | escape }}">
                      </li>
                    {% endunless %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>            
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}

  {% else %}

    {% comment %} Make one gallery for all the images {% endcomment %}
    <div class="product-gallery" data-product-gallery>
      <div class="product-gallery__slideshow-wrapper">
        <ul id="slideshow-{{ product.id }}" class="product-gallery__slideshow" data-product-gallery-slideshow>
          {% for image in product.images %}
            {% assign image_alt_downcase = image.alt | downcase %}
            {% unless image_alt_downcase contains alt_swatch_identifier %}
              <li class="product-gallery__slideshow-slide"
                  data-image="{{ image.id }}"
                  {% if image.id == current_variant.featured_image.id %} data-initial-slide{% endif %}>
                <a href="{{ image | img_url: photo_zoom_dimension }}" data-product-gallery-slide-link>
                  <img src="{{ image | img_url: photo_main_dimension }}" alt="{{ image.alt | escape }}">
                </a>
                <a href="#" class="product-gallery__zoom-trigger zoom-trigger" data-zoom-button></a>
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
      <div class="product-gallery__thumbnails-wrapper">
        <ul id="slideshow-thumbs-{{ product.id }}" class="product-gallery__thumbnails list-unstyled" data-product-gallery-thumbnail>
          {% for image in product.images %}
            {% assign image_alt_downcase = image.alt | downcase %}
            {% unless image_alt_downcase contains alt_swatch_identifier %}
              <li class="product-gallery__thumbnails-slide" data-product-gallery-thumbnail-slide>
                <img src="{{ image.src | img_url: photo_thumb_dimension }}" alt="{{ image.alt | escape }}">
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div>      
    </div>
  {% endif %}

</div>
