<div class="Product-thumbnail {% if classnames != '' %} {{ classnames }}{% endif %} {% if modifier_classnames != '' %} {{ modifier_classnames }}{% endif %}" {% if used_as_slide %}data-slideshow-slide{% endif %}>
  <a href="{% if product_url %}{{ product_url}}{% else %}{{ product.url }}{% endif %}" class="flex-col flex-1">
    <img src="{{ product.featured_image.src | img_url: '480x480' }}" alt="{{ product.featured_image.alt | escape }}" class="flex0">
    <div class="ProductDetails flex flex-1 flex-align-items-end">
      <div class="flex-1 flex flex-col-small-down flex-align-items-start">
        <div class="flex-1">
          <h3 class="Thumbnail-title">{{ product.title }}</h3>
          {% unless artist_name == blank %}
            <p>by <span>{{ artist_name }}</span></p>
          {% endunless %}
        </div>
        <div class="Thumbnail-price flex-{% if product.compare_at_price > product.price %}1{% else %}0{% endif %} flex u-fw-medium">
          <div class="flex flex1 flex-justify-right {% unless product.compare_at_price > product.price %} hidden-xs hidden-sm{% endunless %}">
            {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <span><s>{{ product.compare_at_price | money }}</s></span>
            {% endif %}

            {% unless product.available %}
            {{ 'products.product.sold_out' | t }}
            {% endunless %}
          </div>
          <div class="flex flex1 flex-justify-right {% unless product.compare_at_price > product.price %} flex-row-reverse{% endunless %}">
            {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
            {%- assign sale_price = product.price | money -%}
            <span>{{ 'products.product.on_sale_from_html' | t: price: sale_price }}</span>
            {% else %}
            <span>{{ product.price | money }}</span>
            {% endif %}

            {% else %}

            {% if product.price_varies %}
            {%- assign price = product.price | money -%}
            {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
            <span>{{ product.price | money }}</span>
            {% endif %}

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
