{% capture page_sidebar_html %}
  {% include 'page-sidebar' %}
{% endcapture %}

{% assign has_sidebar = false %}
{% if page_sidebar_html != blank %}
  {% assign has_sidebar = true %}
{% endif %}

{% paginate customer.addresses by 5 %}

  <div class="layout-content-wrapper">
    <div class="container">
      <div class="row">

        <div class="page-header">
          <h1 class="page-header__title">
            {{ 'customer.addresses.title' | t }}
          </h1>
        </div>

        <div class="page-content{% if has_sidebar %} page-content--has-sidebar{% endif %}">

          <div id="AddressNewForm" class="hide">
            {% include 'customer-new-address-form' %}
          </div>

          {% for address in customer.addresses %}

            <div id="EditAddress_{{ address.id }}" class="hide">
              {% include 'customer-edit-address-form', address: address %}
            </div>

          {% endfor %}

          {% for address in customer.addresses %}
            {% if address == customer.default_address %}
              <h6>{{ 'customer.addresses.default' | t }}</h6>
            {% endif %}

            {{ address | format_address }}

            <p>
              <a href="#" class="cta" data-address-edit-toggle data-form-id="{{ address.id }}">
                {{ 'customer.addresses.edit' | t }}
              </a>
              |
              <a href="#" data-address-delete data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                {{ 'customer.addresses.delete' | t }}
              </a>
            </p>
          {% endfor %}

          <button type="button" class="btn" data-address-new-toggle>{{ 'customer.addresses.add_new' | t }}</button>       

          <hr />

          <a href="#recover" id="RecoverPassword" class="btn btn-primary">{{ 'customer.recover_password.title' | t }}</a>

          <div class="form-success hide" id="ResetSuccess">
            {{ 'customer.recover_password.success' | t }}
          </div>

          {% if form.posted_successfully? %}
            {% assign resetPassword = true %}
          {% endif %}

          <div id="RecoverPasswordForm" class="hide">
            <h4>{{ 'customer.recover_password.title' | t }}</h4>
            <p>{{ 'customer.recover_password.subtext' | t }}</p>

            {% form 'recover_customer_password' %}
              {{ form.errors | default_errors }}

              {% if form.posted_successfully? %}
                <span class="hide reset-password-success"></span>
              {% endif %}

              <div class="form-group">
                <label for="RecoverEmail" class="control-label">
                  {{ 'customer.recover_password.email' | t }}
                </label>
                <input type="email"
                  name="email"
                  id="RecoverEmail"
                  class="form-control"
                  placeholder="{{ 'customer.recover_password.email' | t }}"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off">
              </div>

              <div class="form-group">
                <input type="submit" class="btn btn-primary" value="{{ 'customer.recover_password.submit' | t }}">
                <button type="button" class="btn btn-link" id="HideRecoverPasswordLink">
                  {{ 'customer.recover_password.cancel' | t }}
                </button>
              </div>

            {% endform %}

          </div>
         </div>

        {{ page_sidebar_html }}

      </div>
    </div>
  </div>        

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}
