{%- comment %}
  Individual customer order

  Styles:
  - account.scss
  - page.scss
{% endcomment -%}

{% capture page_sidebar_html %}
  {% include 'page-sidebar' %}
{% endcapture %}

{% assign has_sidebar = false %}
{% if page_sidebar_html != blank %}
  {% assign has_sidebar = true %}
{% endif %}

<div class="layout-content-wrapper">
  <div class="container">
    <div class="row">

      {% include 'page-header', title: 'Order Details' %}
      
      <div class="page-content{% if has_sidebar %} page-content--has-sidebar{% endif %}">

        <div class="customer-order" data-order="{{ order.id }}">

          <h5 class="customer-order__title clearfix">{{ 'customer.order.title' | t: name: order.name }} <span style="float: right">{{ order.created_at | time_tag: format: 'month_day_year' }}</span></h2>

          {% comment %} Stuff from slate updates that needs to get styled {% endcomment %}
          {% if line_item.fulfillment %}
            <dl>
              <dt>{{ 'customer.order.fulfilled_at' | t }}</dt>
              <dd>{{ line_item.fulfillment.created_at | date: format: 'month_day_year' }}</dd>

              {% if line_item.fulfillment.tracking_url %}
                <dt>{{ 'customer.order.tracking_url' | t }}</dt>
                <dd>
                  <a href="{{ line_item.fulfillment.tracking_url }}">
                    {{ 'customer.order.track_shipment' | t }}
                  </a>
                </dd>
              {% endif %}

              <dt>{{ 'customer.order.tracking_company' | t }}</dt>
              <dd>{{ line_item.fulfillment.tracking_company }}</dd>

              {% if line_item.fulfillment.tracking_number %}
                <dt>{{ 'customer.order.tracking_number' | t }}</dt>
                <dd>{{ line_item.fulfillment.tracking_number }}</dd>
              {% endif %}
            </dl>
          {% endif %}
          {% comment %} End {% endcomment %}

          {% if order.cancelled %}
            <div class="customer-order__details--cancellation">
              <div class="row">
                <div class="col-sm-6">
                    {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
                    <div class="alert alert-warning u-inline-block">
                      <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
                      <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
                    </div>
                </div>
              </div>
            </div>
          {% endif %}

          <div class="customer-order__addresses">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="address--billing">
                  <h6>{{ 'customer.order.billing_address' | t }}</h6>
                  {{- order.billing_address | format_address -}}
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="address--shipping">
                  <h6>{{ 'customer.order.shipping_address' | t }}</h6>
                  {{- order.shipping_address | format_address -}}
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="customer-order__statuses">
                  <h6>{{ 'customer.orders.tracking_status' | t }}</h6>

                  <div class="customer-order__status">
                    <h6 class="order-status__title">{{ 'customer.order.payment_status' | t }}:</h6>
                    {{- order.financial_status_label -}}
                  </div>
                  <div class="customer-order__status">
                    <h6 class="order-status__title">{{ 'customer.order.fulfillment_status' | t }}:</h6>
                    {{- order.fulfillment_status_label -}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="customer-order__line-items">
            <h6>{{ 'customer.order.line_items_title' | t }}</h6>

            <!-- line-item -->
            {% for line_item in order.line_items %}
              <div class="customer-order__line-item" id="{{ line_item.key }}">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="line-item__img">
                      {{ line_item.image | img_url: '250x' | img_tag | link_to: line_item.product.url }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <h5 class="line-item__title">{{ line_item.product.title | link_to: line_item.product.url }}</h5>
                    {% comment %} Only show this line if there is non-default content {% endcomment %}
                    {% if line_item.variant.title != "Default Title" %}
                      <p class="line-item__variant-title">{{ line_item.variant.title  | link_to: line_item.variant.url }}</p>
                    {% endif %}
                    <p class="line-item__qty u-color-black">
                      <span class="u-tt-uppercase">{{ 'customer.order.line_item_quantity' | t }}</span>: {{ line_item.quantity }}

                      {% if line_item.quantity > 1 %}
                        ({{ line_item.quantity | times: line_item.price | money }} each)
                      {% endif %}
                    </p>

                    {% if line_item.fulfillment %}
                      <p class="line-item__fulfillment">
                        {%- assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' -%}

                        {{ 'customer.order.fulfilled_at' | t: date: created_at }}

                        {% if line_item.fulfillment.tracking_number %}
                          <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                        {% endif %}
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
            <!-- END line-item -->

            <div class="customer-order__totals">
              <p>{{ 'customer.order.subtotal' | t }}: <strong>{{ order.subtotal_price | money }}</strong></p>
              {% for discount in order.discounts %}
                <p>{{ discount.code }} {{ 'customer.order.discount' | t }}: <strong>{{ discount.savings | money }}</strong></p>
              {% endfor %}
              {% for shipping_method in order.shipping_methods %}
                <p>{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }}): <strong>{{ shipping_method.price | money }}</strong></p>
              {% endfor %}
              {% for tax_line in order.tax_lines %}
                <p>{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%): <strong>{{ tax_line.price | money }}</strong></p>
              {% endfor %}
            </div>

            <p>{{ 'customer.order.total' | t }}: <strong>{{ order.total_price | money }}</strong></p>
          </div>
        </div>

        <p>
          <a href="/account">{{ 'customer.account.return' | t }}</a>
        </p>
      </div>

      {{ page_sidebar_html }}

    </div>
  </div>
</div>
