<div data-section-id="{{ section.id }}" data-section-type="cart">
  <div class="layout-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          {% assign page_title = 'cart.general.title' | t %}
          {% include 'page-header', title: page_title %}

          {% if cart.item_count > 0 %}

            <form action="/cart" method="post" novalidate data-cart-form>

              <div class="cart-list">
                <div class="cart-list__header">
                  <div class="cart-list__col-product">{{ 'cart.label.product' | t }}</div>
                  <div class="cart-list__col-quantity">{{ 'cart.label.quantity' | t }}</div>
                  <div class="cart-list__col-subtotal">{{ 'cart.general.subtotal' | t }}</div>
                  <div class="cart-list__col-remove">{{ 'cart.general.remove' | t }}</div>
                </div>
                <div class="cart-list__body">
                  {% for item in cart.items %}
                    <div class="cart-list__row">
                      <div class="cart-list__col-product">
                        <a href="{{ item.url | within: collections.all }}">
                          <img src="{{ item | img_url: '240x240' }}" class="cart-list__item-image" alt="{{ item.title | escape }}">
                        </a>
                        <div class="cart-list__item-details">
                          <h5 class="cart-list__item-details-title">
                            <a href="{{ item.url }}">{{ item.product.title }}</a>
                          </h5>

                          <ul class="list-unstyled">

                            {% for option in item.product.options %}
                              {% assign option_key = 'option' | append: forloop.index %}
                              {% assign option_val = item.variant[option_key] %}
                              {% unless option == "Title" and option_val == "Default Title" %}
                                <li>{{ option }}: {{ option_val }}</li>
                              {% endunless %}
                            {% endfor %}

                            {% unless item.properties == empty %}
                              {% for p in item.properties %}
                                {% unless p.last == blank %}
                                <li>
                                  {{ p.first }}:
                                  {% if p.last contains '/uploads/' %}
                                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                  {% else %}
                                    {{ p.last }}
                                  {% endif %}
                                </li>
                                {% endunless %}
                              {% endfor %}
                            {% endunless %}

                            <li class="visible-xs">{{ item.line_price | money }}</li>
                          </ul>

                          <div class="visible-xs">
                            <div style="max-width: 80px;">
                              <select class="cart-list__item-quantity form-control" aria-label="{{ 'cart.general.item_quantity' | t }}" data-item-quantity-select="updates_{{ item.key }}">
                                {% for i in (0..10) %}
                                  <option value="{{ i }}" {% if i == item.quantity %}selected="selected"{% endif %}>{{ i }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>

                          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart-list__item-details-remove">
                            {% include 'icon-close' %}
                          </a>
                        </div>
                      </div>
                      <div class="cart-list__col-quantity">
                        <input type="number" value="{{ item.quantity }}" name="updates[]" id="updates_{{ item.key }}" style="display: none !important" />
                        <div style="max-width: 80px; margin: 0 auto">
                          <select class="cart-list__item-quantity form-control" aria-label="{{ 'cart.general.item_quantity' | t }}" data-item-quantity-select="updates_{{ item.key }}">
                            {% for i in (0..10) %}
                              <option value="{{ i }}" {% if i == item.quantity %}selected="selected"{% endif %}>{{ i }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="cart-list__col-subtotal">
                        <span class="h5">{{ item.line_price | money }}</span>
                      </div>
                      <div class="cart-list__col-remove">
                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                          {% include 'icon-close' %}
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <div class="cart-list__footer">
                  <div class="cart-list__footer-row cart-list__footer-row--secondary hidden-xs">
                    {{ 'cart.general.shipping_at_checkout' | t }}
                  </div>
                  <div class="cart-list__footer-row cart-list__footer-row--primary">
                    <div class="cart-list__footer-width-container">
                      <p class="h5 u-color-text clearfix" style="margin-bottom: 2rem;">
                        <span style="float: left;">{{ 'cart.general.subtotal' | t }}</span>
                        <span style="float: right">{{ cart.total_price | money }}</span>
                      </p>
                      {% if cart.total_discounts > 0 %}
                        <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
                      {% endif %}
                      <p class="visible-xs">{{ 'cart.general.shipping_at_checkout' | t }}<br /><br/></p>
                    </div>
                    <div class="cart-list__footer-width-container">
                      <p>
                        <input type="submit" name="checkout" class="btn btn-primary btn-block" value="{{ 'cart.general.checkout' | t }}">
                      </p>
                      {% if additional_checkout_buttons %}
                        <div class="additional-checkout-buttons">
                          {{ content_for_additional_checkout_buttons }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

            </form>
          {% else %}

            {% comment %}
            Cart empty state
            {% endcomment %}
            <div class="supports-cookies u-ta-center">
              <p>{{ 'cart.general.empty' | t }}</p>
              <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
            </div>

            {% comment %}
            Cart no cookies state
            ---------------------
            Browser cookies are required to use the cart. If cookies aren't enabled in the
            browser a message is displayed prompting the user to enable them.
            {% endcomment %}
            <div class="supports-no-cookies u-ta-center">
              <p>{{ 'cart.general.cookies_required' | t }}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>