{% paginate collection.products by 12 %}

<section class="Collection" data-section-id="{{ section.id }}" data-section-type="collection">

  <h1>{{ collection.title }}</h1>
  {% if collection.description != blank %}
    <p>{{ collection.description }}</p>
  {% endif %}

  {% if collection.products.size > 0 %}
    <header role="banner">
      {% include 'breadcrumbs' %}
      {% if section.settings.enable_filters %}
        {% include 'collection-filters' %}
      {% endif %}
      {% if section.settings.enable_sort %}
        {% include 'collection-sort' %}
      {% endif %}
    </header>

    <div class="container">
      <div class="content-grid">
        {% for product in collection.products %}
          <div class="content-grid__item">
            {% include 'product-card', product: product, quick_view: true %}
          </div>
        {% endfor %}
      </div>
    </div>

  {% else %}
    <p>{{ 'collections.general.no_matches' | t }}</p>

  {% endif %}

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

  {% comment %} This JSON is required for filtering and sorting {% endcomment %}
  {% capture collection_url %}
    {% if collection.handle == "all" %}
      /collections/all
    {% else %}
      {{ collection.url }}
    {% endif %}
  {% endcapture %}

  <script type="application/json" data-collection-json>
    {
      "url": {{ collection_url | strip | json }},
      "sortDefault": {{ collection.default_sort_by | json }},
      "sortApplied": {{ collection.sort_by | json }}
    }
  </script>

</section>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "id": "enable_filters",
        "type": "checkbox",
        "label": "Enable Filters",
        "default": true,
        "info": "Filtering is based on product tags."
      },
      {
        "id": "enable_sort",
        "type": "checkbox",
        "label": "Enable Sort",
        "default": true
      }
    ]
  }
{% endschema %}
