
{% capture sidebar_html %}
  {% include 'account-sidebar' %}
{% endcapture %}

{% capture title %}
  {% if customer.first_name %}
    {{ 'Welcome, ' | append: customer.first_name | append: '!' }}
  {% else %}
    {{ 'customer.account.title' | t }}
  {% endif %}
{% endcapture %}

{% paginate customer.orders by 1000 %}

  <div class="layout-content-wrapper" data-section-id="{{ section.id }}" data-section-type="customers-account-orders">
    <div class="container">
      
      {% include 'page-header', ph_title: title %}

      <div class="row">

        {{ sidebar_html }}

        <div class="account-content{% if sidebar_html != blank %} account-content--has-sidebar{% endif %}">

          <h3>{{ 'customer.account.order_history' | t }}</h1>
          {% if customer.orders.size == 0 %}
            <div class="account-block">
              <div class="account-block__content">{{ 'customer.orders.none' | t }}</div>
            </div>
          {% else %}
            <div class="d-block d-lg-none">
              {% for order in customer.orders %}
                <div style="max-width: 450px; {% unless forloop.last %}margin-bottom: 50px;{% endunless %}">
                  <table class="table table-borderless table-sm">
                    <tr>
                      <th>{{ 'customer.orders.shipped_to' | t }}</th>
                      <td>{{ order.customer.name }}</td>
                    </tr>
                    <tr>
                      <th>{{ 'customer.orders.date' | t }}</th>
                      <td>{{ order.created_at | time_tag: format: 'month_day_year_short' }}</td>
                    </tr>
                    <tr>
                      <th>{{ 'customer.orders.order_number' | t }}</th>
                      <td>{{ order.order_number }}</td>
                    </tr>
                    <tr>
                      <th>{{ 'customer.orders.payment' | t }}</th>
                      <td>{{ order.financial_status_label }}</td>
                    </tr>
                    <tr>
                      <th>{{ 'customer.orders.fulfillment' | t }}</th>
                      <td>{{ order.fulfillment_status_label }}</td>
                    </tr>
                    <tr>
                      <th>{{ 'customer.orders.amount' | t }}</th>
                      <td>{{ order.total_price | money }}</td>
                    </tr>
                  </table>
                  <a href="{{ order.customer_url }}" class="btn btn-secondary">{{ 'customer.orders.order_details' | t }}</a>
                </div>
              {% endfor %}
            </div>
            <div class="d-none d-lg-block">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th>{{ 'customer.orders.shipped_to' | t }}</th>
                    <th>{{ 'customer.orders.date' | t }}</th>
                    <th>{{ 'customer.orders.order_number' | t }}</th>
                    <th>{{ 'customer.orders.payment' | t }}</th>
                    <th>{{ 'customer.orders.fulfillment' | t }}</th>
                    <th>{{ 'customer.orders.amount' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in customer.orders %}
                    <tr>
                      <td>{{ order.customer.name }}</td>
                      <td>{{ order.created_at | time_tag: format: 'month_day_year_short' }}</td>
                      <td><a href="{{ order.customer_url }}">{{ order.order_number }}</a></td>
                      <td><a href="{{ order.order_status_url }}">{{ order.financial_status_label }}</a></td>
                      <td><a href="{{ order.order_status_url }}">{{ order.fulfillment_status_label }}</a></td>
                      <td>{{ order.total_price | money }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}

        </div>
        
      </div>
    </div>
  </div>

{% endpaginate %}
