{% assign MAX_FOOTER_MENUS = 3 %}

{% assign footer_menu_html_desktop = '' %}
{% assign footer_menu_html_mobile  = '' %}

{% comment %} Newsletter messaging {% endcomment %}
{% assign message_already_subscribed = section.settings.subscribe_already_subscribed_text %}
{% if message_already_subscribed == blank %}
  {% assign message_already_subscribed = 'general.newsletter.already_subscribed' | t %}
{% endif %}

{% assign message_success = section.settings.subscribe_success_text %}
{% if message_success == blank %}
  {% assign message_success = 'general.newsletter.subscribe_success' | t %}
{% endif %}            

{% assign message_fail = 'general.newsletter.subscribe_fail' | t %}  

{% comment %} MENU Capture {% endcomment %}
{% for i in (1..MAX_FOOTER_MENUS) %}
  {% assign menu_setting_handle = 'footer_linklist_' | append: i %}
  {% assign menu_title_setting_handle = 'footer_linklist_title_' | append: i %}
  {% assign linklist_handle = section.settings[menu_setting_handle] %}
  {% if linklist_handle and linklists[linklist_handle].links.size > 0 %}

    {% capture desktop_html %}
      <div class="footer-menu">
        <h6 class="footer-menu__title">{{ section.settings[menu_title_setting_handle] }}</h6>
        {% if linklist_handle and linklists[linklist_handle].links.size > 0 %}
          <ul class="footer-menu__list">
            {% for link in linklists[linklist_handle].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endcapture %}

    {% capture mobile_html %}
      <div class="expandable-list">
        <div class="expandable-list__header">
          <a href="#{{ linklist_handle }}" class="expandable-list__header-title" data-toggle="collapse" aria-expanded="false" aria-controls="{{ linklist_handle }}">
            {{ section.settings[menu_title_setting_handle] }} 
            {% include 'icon-caret-down' %}
          </a>
        </div>
        <div id="{{ linklist_handle }}" class="collapse">
          <div class="expandable-list__body">
            {% for link in linklists[linklist_handle].links %}
              <div class="expandable-list__item">
                <a href="{{ link.url }}" class="expandable-list__item-title">{{ link.title }}</a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endcapture %}

    {% assign footer_menu_html_desktop = footer_menu_html_desktop | append: desktop_html %}
    {% assign footer_menu_html_mobile  = footer_menu_html_mobile  | append: mobile_html %}
  {% endif %}
{% endfor %}

{% comment %} SOCIAL Capture {% endcomment %}
{% capture social_list_items %}
  {%- assign social_accounts = 'Facebook, Instagram, Twitter, Pinterest, Snapchat' | split: ', ' -%}
  {% for social in social_accounts %}
    {% assign social_handle = social | handleize %}
    {% capture social_enabled_handle %}social_{{ social_handle }}_enabled{% endcapture %}
    {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
    {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
    {% if settings[social_link] != blank and section.settings[social_enabled_handle] %}
        <li>
          <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}" target="_blank">
            {% include social_icon %}
            <span class="icon-fallback-text">{{ social }}</span>
          </a>
        </li>
    {% endif %}
  {% endfor %}
{% endcapture %}

<footer class="footer" data-section-id="{{ section.id }}" data-section-type="footer">
  <div class="container">
    <div class="row">

      {% comment %} Footer Block - Info {% endcomment %}
      <div class="col-lg-2">
        <div class="footer-block">
          Footer Info Block
        </div>
      </div>

      {% comment %} Footer Block - Menus {% endcomment %}
      <div class="col-lg-6">
        <div class="footer-block">
          <div class="d-none d-lg-block">
            {{ footer_menu_html_desktop }}
          </div>
          <div class="d-block d-lg-none">
            {{ footer_menu_html_mobile }}
          </div>
        </div>
      </div>

      {% comment %} Footer Block - Contact {% endcomment %}
      <div class="col-lg-4">
        <div class="footer-block">
          
          {% if settings.newsletter_form_action == blank %}
            <div class="alert alert-danger small">A valid newsletter form action URL is required for this section.  Please go to <strong>General Settings -> Mailing List</strong> in the theme editor to add this information</div>
          {% endif %}

          {% if section.settings.subscribe_heading %}
            <h4>{{ section.settings.subscribe_heading }}</h4>
          {% endif %}
          {% if section.settings.subscribe_text %}
            <p>{{ section.settings.subscribe_text }}</p>
          {% endif %}

          <form action="{{ settings.newsletter_form_action }}" method="post" data-newsletter-form>
            <div class="newsletter-form-contents" data-form-contents>
              <div class="newsletter-form-inputs">
                <div class="form-group">
                  <div class="minimal-input-box minimal-input-box--inverted">
                    <input type="email" class="minimal-input-box__input" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ section.settings.placeholder_text }}" required="required"/>
                    <button type="submit" class="minimal-input-box__submit">
                      {% include 'icon-arrow-right' %}
                      <span class="icon-fallback-text">Submit</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="newsletter-form-message"
                 data-form-message
                 data-message-success="{{ message_success | strip | escape }}"
                 data-message-already-subscribed="{{ message_already_subscribed | strip | escape }}"
                 data-message-fail="{{ message_fail | strip | escape }}"></div>
            </div>
          </form>

          {% if social_list_items %}
            <ul class="footer-social-list">
              {{ social_list_items }}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>

    {% assign year = 'now' | date: "%Y" %}
    {% if section.settings.copyright_text != blank %}
      <div>
        <small>{{ section.settings.copyright_text | replace: '$year$', year | replace: '$shop$', shop.name }}</small>
      </div>
    {% endif %}

  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Social"
      },
      {
        "type": "checkbox",
        "id": "social_facebook_enabled",
        "label": "Facebook"
      },
      {
        "type": "checkbox",
        "id": "social_instagram_enabled",
        "label": "Instagram"
      },
      {
        "type": "checkbox",
        "id": "social_twitter_enabled",
        "label": "Twitter"
      },
      {
        "type": "checkbox",
        "id": "social_pinterest_enabled",
        "label": "Pinterest"
      },
      {
        "type": "checkbox",
        "id": "social_snapchat_enabled",
        "label": "Snapchat"
      },
      {
        "type": "header",
        "content": "Menus"
      },
      {
        "type": "text",
        "id": "footer_linklist_title_1",
        "label": "First Menu Title"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_1",
        "label": "First Menu"
      },
      {
        "type": "text",
        "id": "footer_linklist_title_2",
        "label": "Second Menu Title"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_2",
        "label": "Second Menu"
      },
      {
        "type": "text",
        "id": "footer_linklist_title_3",
        "label": "Third Menu Title"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_3",
        "label": "Third Menu"
      },
      {
        "type": "header",
        "content": "Copyright"
      },      
      {
        "type": "header",
        "content": "Mailing List"
      },
      {
        "type": "text",
        "id": "subscribe_heading",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "subscribe_text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "placeholder_text",
        "label": "Placeholder Text",
        "default": "Enter your email"
      },
      {
        "type": "textarea",
        "id": "subscribe_success_text",
        "label": "Success Message",
        "info": "Displays when someone signs up successfully.  Leave blank for a generic message."
      },
      {
        "type": "textarea",
        "id": "subscribe_already_subscribed_text",
        "label": "Already Subscribed Message",
        "info": "Displays if someone is already signed up to the mailing list.  Leave blank for a generic message."
      },
      {
        "type": "header",
        "content": "Copyright"
      },      
      {
        "type": "textarea",
        "id": "copyright_text",
        "label": "Text",
        "info": "Use '$year$' to include the current year.  Use $shop$ to include the name of your shop."
      }
    ]
  }

{% endschema %}
