{% assign MAX_FOOTER_MENUS = 2 %}

<footer class="footer" data-section-id="{{ section.id }}" data-section-type="footer">
  <div class="container">
    <div class="row">

      {% comment %} Footer Block - Info {% endcomment %}
      <div class="col-md-2">
        <div class="footer-block">
          Footer Info Block
        </div>
      </div>

      {% comment %} Footer Block - Menus {% endcomment %}
      <div class="col-md-6">
        <div class="footer-block">
          {% for i in (1..MAX_FOOTER_MENUS) %}
            {% assign menu_setting_handle = 'footer_linklist_' | append: i %}
            {% assign menu_title_setting_handle = 'footer_linklist_title_' | append: i %}
            {% assign linklist_handle = section.settings[menu_setting_handle] %}
            {% if linklist_handle and linklists[linklist_handle].links.size > 0 %}
              <div class="footer-menu">
                <h6 class="footer-menu__title">{{ section.settings[menu_title_setting_handle] }}</h6>
                <ul class="footer-menu__list">
                  {% for link in linklists[linklist_handle].links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      {% comment %} Footer Block - Contact {% endcomment %}
      <div class="col-md-4">
        <div class="footer-block">
          {% if settings.newsletter_form_action == blank %}
            <div class="alert alert-danger small">A valid newsletter form action URL is required for this section.  Please go to <strong>General Settings -> Mailing List</strong> in the theme editor to add this information</div>
          {% endif %}
          {% if section.settings.subscribe_heading %}
            <h4>{{ section.settings.subscribe_heading }}</h4>
          {% endif %}
          {% if section.settings.subscribe_text %}
            <p>{{ section.settings.subscribe_text }}</p>
          {% endif %}        
          <form action="{{ settings.newsletter_form_action }}" method="post">
            <div class="form-group">
              <div class="minimal-input-box minimal-input-box--inverted">
                <input type="email" class="minimal-input-box__input" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Subscribe to our newsletter" required="required"/>
                <button type="submit" class="minimal-input-box__submit">
                  {% include 'icon-arrow-right' %}
                  <span class="icon-fallback-text">Submit</span>
                </button>
              </div>
            </div>
          </form>

          {% comment %} Put the social stuff in a capture block because we use it twice in the footer {% endcomment %}
          {% capture social_list_items %}
            {%- assign social_accounts = 'Facebook, Instagram, Twitter, Pinterest, Snapchat' | split: ', ' -%}
            {% for social in social_accounts %}
              {% assign social_handle = social | handleize %}
              {% capture social_enabled_handle %}social_{{ social_handle }}_enabled{% endcapture %}
              {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
              {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
              {% if settings[social_link] != blank and section.settings[social_enabled_handle] %}
                  <li>
                    <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                      {% include social_icon %}
                      <span class="icon-fallback-text">{{ social }}</span>
                    </a>
                  </li>
              {% endif %}
            {% endfor %}
          {% endcapture %}

          {% if social_list_items %}
            <ul class="footer-social-list">
              {{ social_list_items }}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</small>
      </div>
    </div>

  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Social"
      },
      {
        "type": "checkbox",
        "id": "social_facebook_enabled",
        "label": "Facebook"
      },
      {
        "type": "checkbox",
        "id": "social_instagram_enabled",
        "label": "Instagram"
      },
      {
        "type": "checkbox",
        "id": "social_twitter_enabled",
        "label": "Twitter"
      },
      {
        "type": "checkbox",
        "id": "social_pinterest_enabled",
        "label": "Pinterest"
      },
      {
        "type": "checkbox",
        "id": "social_snapchat_enabled",
        "label": "Snapchat"
      },
      {
        "type": "header",
        "content": "Mailing List"
      },
      {
        "type": "text",
        "id": "subscribe_heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subscribe_text",
        "label": "Text"
      },
      {
        "type": "header",
        "content": "Menus"
      },
      {
        "type": "text",
        "id": "footer_linklist_title_1",
        "label": "First Menu Title"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_1",
        "label": "First Menu"
      },
      {
        "type": "text",
        "id": "footer_linklist_title_2",
        "label": "Second Menu Title"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_2",
        "label": "Second Menu"
      },
      {
        "type": "text",
        "id": "footer_linklist_title_3",
        "label": "Third Menu Title"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_3",
        "label": "Third Menu"
      }
    ]
  }

{% endschema %}
