<div data-section-id="{{ section.id }}" data-section-type="slideshow">
  {% if section.blocks.size > 0 %}
    <div class="slideshow swiper-container" 
         id="slideshow-{{ section.id }}" 
         data-autoplay="{{ section.settings.autoplay }}" 
         data-speed="{{ section.settings.autoplay_speed }}"
         data-dots="{{ section.settings.dots }}"
         data-animation="{{ section.settings.animation }}"
         data-slideshow>
      <div class="swiper-wrapper">         
        {% for block in section.blocks %}
          <div class="slideshow-slide swiper-slide" {{ block.shopify_attributes }} data-slideshow-slide data-block-id="{{ block.id }}">
            <div class="banner">
              {% include 'banner-panel',
                bp_id: block.id,
                bp_content_alignment: block.settings.content_alignment,
                bp_content_max_width: block.settings.content_max_width,
                bp_background_image: block.settings.background_base,
                bp_background_image_vertical_alignment: block.settings.background_image_vertical_alignment,
                bp_background_image_medium: block.settings.background_medium,
                bp_background_image_medium_vertical_alignment: block.settings.background_medium_vertical_alignment,
                bp_background_image_small: block.settings.background_small,
                bp_background_image_small_vertical_alignment: block.settings.background_small_vertical_alignment,
                bp_light_text: block.settings.light_text,
                bp_title: block.settings.title,
                bp_text: block.settings.text,
                bp_cta_url: block.settings.cta_url,
                bp_cta_text: block.settings.cta_text
              %}
            </div>
          </div>
        {% endfor %}
      </div>
      <span class="swiper-arrow swiper-arrow--left">
        <span class="arrow arrow--left"><span class="arrow__icon"></span></span>
      </span>
      <span class="swiper-arrow swiper-arrow--right">
        <span class="arrow arrow--right"><span class="arrow__icon"></span></span>
      </span>
      <div class="swiper-pagination"></div>
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Banner Slideshow",
    "settings": [
      {
        "type": "checkbox",
        "id": "dots",
        "label": "Pagination Dots",
        "default": true
      },    
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-play Slideshow",
        "default": true
      },
      {
        "type": "select",
        "id": "animation",
        "label": "Animation",
        "options": [
          { "value": "slide", "label": "Slide" },
          { "value": "fade", "label": "Fade" }
        ],
        "default": "slide"
      },      
      {
        "type": "select",
        "id": "autoplay_speed",
        "label": "Auto-play Speed",
        "options": [
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "7000"
      }
    ],
    "blocks": [
      {
        "type": "banner_panel",
        "name": "Banner",
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text"
          },
          {
            "type": "url",
            "id": "cta_url",
            "label": "CTA Link"
          },
          {
            "type": "header",
            "content": "Design"
          },
          {
            "type": "checkbox",
            "id" : "light_text",
            "label": "Light Text",
            "default": false
          },
          {
            "type":      "select",
            "id":        "content_alignment",
            "label":     "Content Alignment",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ],
            "default":   "center"
          },
          {
            "type": "range",
            "id":   "content_max_width",
            "min":  300,
            "max":  850,
            "step": 25,
            "unit": "px",
            "label": "Max Content Width",
            "default": 450
          },
          {
            "type": "header",
            "content": "Background - Desktop",
            "info": "Main image will always be used.  Tablet and mobile images will be displayed if they are set."
          },
          {
            "type": "select",
            "id": "background_image_vertical_alignment",
            "label": "Vertical Alignment",
            "options": [
              { "value": "center", "label": "Center" },
              { "value": "top", "label": "Top" },
              { "value": "bottom", "label": "Bottom" }
            ],
            "default": "center"
          },
          {
            "type": "image_picker",
            "id": "background_base",
            "label": "Main Image"
          },
          {
            "type": "header",
            "content": "Background - Tablet"
          },
          {
            "type": "select",
            "id": "background_medium_vertical_alignment",
            "label": "Vertical Alignment",
            "options": [
              { "value": "center", "label": "Center" },
              { "value": "top", "label": "Top" },
              { "value": "bottom", "label": "Bottom" }
            ],
            "default": "center"
          },
          {
            "type": "image_picker",
            "id": "background_medium",
            "label": "Main Image"
          },
          {
            "type": "header",
            "content": "Background - Mobile"
          },
          {
            "type": "select",
            "id": "background_small_vertical_alignment",
            "label": "Vertical Alignment",
            "options": [
              { "value": "center", "label": "Center" },
              { "value": "top", "label": "Top" },
              { "value": "bottom", "label": "Bottom" }
            ],
            "default": "center"
          },
          {
            "type": "image_picker",
            "id": "background_small",
            "label": "Main Image"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Banner Slideshow",
      "category": "Media",
      "settings": {
        "autoplay": true,
        "autoplay_speed": "5000"
      },
      "blocks": []
    }]
  }
{% endschema %}
