<div data-section-id="{{ section.id }}" data-section-type="slideshow">
  <div class="container">
    {% if section.blocks.size > 0 %}
      <div class="slideshow-wrapper" data-slideshow-wrapper>
        <div class="slideshow" 
             id="slideshow-{{ section.id }}" 
             data-autoplay="{{ section.settings.autoplay }}" 
             data-speed="{{ section.settings.autoplay_speed }}"
             data-dots="{{ section.settings.dots }}"
             data-fade="{{ section.settings.fade }}"
             data-slideshow>
          {% for block in section.blocks %}
              {% capture attributes %}{{ block.shopify_attributes }} data-block-id="{{ block.id }}"{% endcapture %}
              {% include 'slideshow-slide',
                         id: block.id,
                         attributes: attributes,
                         link: block.settings.link,
                         title: block.settings.title,
                         subtitle: block.settings.subtitle,
                         text_position: section.settings.text_position,
                         background_image: block.settings.background_image,
                         background_image_vertical_alignment: block.settings.background_image_vertical_alignment,
                         background_image_aspect_ratio: section.settings.background_image_aspect_ratio,
                         background_image_small: block.settings.background_image_small,
                         background_image_small_vertical_alignment: block.settings.background_image_small_vertical_alignment,
                         background_image_small_aspect_ratio: section.settings.background_image_small_aspect_ratio
              %}
          {% endfor %}
        </div>     
      </div>
    {% else %}

      {% include 'no-blocks' %}

    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Image Slideshow",
    "max_blocks": 8,
    "settings": [
      {
        "type": "checkbox",
        "id": "dots",
        "label": "Dots enabled",
        "default": true
      },    
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides",
        "default": true
      },
      {
        "type": "select",
        "id": "fade",
        "label": "Animation",
        "options": [
          { "value": "true", "label": "Fade" },
          { "value": "false", "label": "Slide" }
        ],
        "default": "true"
      },      
      {
        "type": "select",
        "id": "autoplay_speed",
        "label": "Change slides every",
        "options": [
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "7000"
      },
      {
        "type": "radio",
        "id": "background_image_aspect_ratio",
        "label": "Aspect Ratio",
        "options": [
          { "value": "4x3", "label": "4x3" },
          { "value": "6x4", "label": "6x4" },
          { "value": "16x9", "label": "16x9" }
        ],
        "default": "4x3"
      },
      {
        "type": "radio",
        "id": "background_image_small_aspect_ratio",
        "label": "Aspect Ratio - Mobile",
        "options": [
          { "value": "3x4", "label": "3x4" },
          { "value": "1x1", "label": "1x1" },
          { "value": "4x3", "label": "4x3" }
        ],
        "default": "3x4"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text Position",
        "options": [
          { "value": "top", "label": "Top" },
          { "value": "bottom", "label": "Bottom" }
        ]
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Image slide"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          },
          {
            "type": "header",
            "content": "Image - Desktop",
            "info": "Desktop image will be used for all screens.  If a small screen image is set, that will be used for small screens"
          },
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "background_image_vertical_alignment",
            "label": "Image alignment",
            "default": "top",
            "options": [
              { "value": "top", "label": "Top" },
              { "value": "center", "label": "Middle" },
              { "value": "bottom", "label": "Bottom" }
            ]
          },
          {
            "type": "header",
            "content": "Image - Mobile"
          },
          {
            "type": "image_picker",
            "id": "background_image_small",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "background_image_small_vertical_alignment",
            "label": "Image alignment",
            "default": "top",
            "options": [
              { "value": "top", "label": "Top" },
              { "value": "center", "label": "Middle" },
              { "value": "bottom", "label": "Bottom" }
            ]
          }
        ]
      }
    ],
    "presets": [{
      "name": "Image Slideshow",
      "category": "Image",
      "settings": {
        "autoplay": true,
        "autoplay_speed": "5000"
      },
      "blocks": [
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
