<div data-section-id="{{ section.id }}"
     data-section-type="instagram-feed"
     data-access-token="{{ section.settings.access_token }}"
     data-limit="{{ section.settings.limit }}">
  <div class="container">

    {% if section.settings.title != blank %}
      <h3 class="content-header">{{ section.settings.title }}</h3>
    {% endif %}

    {% if section.settings.access_token != blank %}
      <div class="content-grid content-grid--flush content-grid--{{ section.settings.images_per_row }}-col" data-instagram-feed-target></div>
    {% else %}
      <div class="alert alert-danger small">A valid Instagram access token is required for this section</div>
    {% endif %}

    {% if section.settings.cta_text != blank and section.settings.cta_url != blank %}
      <div class="content-footer">
        <a href="{{ section.settings.cta_url }}" class="btn btn-primary">{{ section.settings.cta_text }}</a>
      </div>
    {% endif %}

  </div>

  {% raw %}
  <script type="text/x-handlebars-template" data-instagram-media-template>
    <div class="content-grid__item">
      <a href="{{ url }}" title="{{ caption }}" target="_blank">
        <div class="frame frame--1x1" style="background-image:url({{ src }})"></div>
      </a>
    </div>
  </script>
  {% endraw %}

</div>

{% schema %}
  {
    "name": "Instagram Feed",    
    "settings": [
      {
        "id": "access_token",
        "label": "Access Token",
        "type": "text",
        "info": "See: instagram.com/developer/authentication"
      },
      {
        "type": "range",
        "id": "images_per_row",
        "label": "Images per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "limit",
        "label": "Images to show",
        "min": 2,
        "max": 60,
        "step": 1,
        "default": 12
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },    
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA Link"
      }
    ],
    "presets": [
      {
        "category": "Misc",
        "name": "Instagram Feed"
      }
    ]
  }
{% endschema %}