{% capture content_grid_html %}
  {% for block in section.blocks %}
    {% if block.type == "product" %}
      <div class="content-grid__item" {{ block.shopify_attributes }}>
        {% include 'product-card', product: all_products[block.settings.product] %}
      </div>
    {% endif %}
  {% endfor %}   
{% endcapture %}

<div class="container">
  {% if section.settings.title != blank %}
    <h3 class="content-header">{{ section.settings.title }}</h3>
  {% endif %}
  {% if content_grid_html != blank %}
    <div class="content-grid content-grid--centered content-grid--{{ section.blocks.size }}-col">
      {{ content_grid_html }}
    </div>
  {% endif %}
  {% if section.settings.cta_text != blank and section.settings.cta_url != blank %}
    <div class="content-footer">
      <a href="{{ section.settings.cta_url }}" class="btn btn-primary">{{ section.settings.cta_text }}</a>
    </div>
  {% endif %}
</div>


{% schema %}
  {
    "name": "Product Grid",
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA Link"
      }   
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Product",
        "name": "Product Grid",
        "settings": {
          "title": "Our Products"
        },        
        "blocks": []
      }
    ]    
  }
{% endschema %}