<section class="Carousel Carousel--{{ section.settings.carousel_height }}" id="Carousel-{{ section.id }}" {% if section.settings.toggle_carousel %} data-js-carousel-container data-js-slides-per-page="{{- section.settings.slides_per_page -}}" data-autoplay="{{ section.settings.autoplay }}" data-speed="{{ section.settings.autoplay_speed }}"{%- endif %}>

  {% for block in section.blocks %}

    {% if block.settings.link != blank %}
      {% capture url %}
        {{- block.settings.link -}}
      {% endcapture %}
      {% assign is_module_clickable = true %}
    {% endif %}

    {% unless block.settings.title == blank %}
      {% capture title_area %}
        <h3>{{ block.settings.title | escape }}</h3>
      {% endcapture %}
    {% endunless %}

    {% unless block.settings.image == blank %}
      {% capture img_area %}
        <div class="Carousel-image"{% if block.settings.image %} style="background-image: url('{{ block.settings.image | img_url: '2048x' }}'); background-position: {{ block.settings.alignment }};"{% endif %}>
      {% endcapture %}
    {% endunless %}

    {% unless block.settings.subheading == blank %}
      {% capture title_area %}
        <h3>{{ block.settings.subheading | escape }}</h3>
      {% endcapture %}
    {% endunless %}

    {% include 'media-object',
      has_shopify_attributes_tag: true,
      used_as_slide: true,
      is_module_clickable: is_module_clickable
    %}
  {% endfor %}

</section>

{% schema %}
  {
    "name": "Featured Collections",
    "max_blocks": 3,
    "settings": [
      {
        "type": "checkbox",
        "id": "toggle_carousel",
        "label": "Should this be a carousel?",
        "default": true
      },
      {
        "type": "number",
        "id": "slides_per_page",
        "label": "How many blocks should be visibile at once?",
        "default": 1
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides",
        "default": true
      },
      {
        "type": "select",
        "id": "autoplay_speed",
        "label": "Change slides every",
        "options": [
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "7000"
      },
      {
        "type": "select",
        "id": "carousel_height",
        "label": "Section height",
        "default": "small",
        "options": [
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment",
            "default": "top",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image slide"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Tell your brand's story through video and images"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Slideshow",
      "category": "Image",
      "settings": {
        "autoplay": true,
        "autoplay_speed": "5000"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
