<div data-section-id="{{ section.id }}" data-section-type="mobile-menu">

  <div class="drawer" data-mobile-menu>

    <div class="drawer__inner">
      <div class="drawer__header">
        <a href="#" class="drawer__close" data-drawer-close>
          {% include 'icon-close' %}
        </a>        
        <h5 class="drawer__header-title">Mobile Menu</h5>
      </div>
      <div class="drawer__body">
        <div class="drawer__body-contents">
          {% comment %} Menus {% endcomment %}
          <div class="mobile-menu-block mobile-menu-block--primary">
            {% if section.settings.primary_linklist and linklists[section.settings.primary_linklist].links.size > 0 %}
              {% for link in linklists[section.settings.primary_linklist].links %}
                {% assign sublist_id = 'mobile-primary-menu-' | append: forloop.index %}
                <div class="panel">
                  <div class="expandable-list">
                    <div class="expandable-list__header">
                      {% if link.links.size > 0 %}
                        <a href="#{{ sublist_id }}" class="expandable-list__header-title" data-toggle="collapse" aria-expanded="false" aria-controls="{{ sublist_id }}">
                          {{ link.title }} {% include 'icon-caret-down' %}
                        </a>
                      {% else %}
                        <a href="{{ link.url }}" class="expandable-list__header-title">{{ link.title }}</a>                      
                      {% endif %}
                    </div>
                    {% if link.links.size > 0 %}
                      <div id="{{ sublist_id }}" class="collapse">
                        <div class="expandable-list__body">
                          {% for sublink in link.links %}
                            <div class="expandable-list__item">
                              <a href="{{ sublink.url }}" class="expandable-list__item-title">{{ sublink.title }}</a>                          
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
  
          <div class="mobile-menu-block mobile-menu-block--secondary">
            <ul class="mobile-menu-list">
              {% if shop.customer_accounts_enabled %}
                {% if customer %}
                  <li><a href="/account">My Account</a></li>
                  <li>{{ 'Log out' | customer_logout_link }}</li>
                {% else %}
                  <li><a href="/account/login">Login or Register</a></li>
                {% endif %}
              {% endif %}
              {% for link in linklists[section.settings.secondary_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Mobile Menu",
    "settings": [   
      {
        "type": "link_list",
        "id": "primary_linklist",
        "label": "Primary Menu"
      },
      {
        "type": "link_list",
        "id": "secondary_linklist",
        "label": "Secondary Menu"
      }
    ]
  }
{% endschema %}
