<style type="text/css">
  {% if section.settings.background %}
  #password-background-{{ section.id }} {
    background-image: url({{ section.settings.background | img_url: '2000x' }});
    background-position: center {{ section.settings.background_vertical_alignment }};
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #password-background-{{ section.id }} {
      background-image: url({{ section.settings.background | img_url: '3000x' }});
    }
  }
  {% endif %}
  @media (max-width: 991px) {
    #password-background-{{ section.id }} {
      background-position: center {{ section.settings.background_medium_vertical_alignment }};
      {% if section.settings.background_medium %}
        background-image: url({{ section.settings.background_medium | img_url: '1200x' }});
      {% elsif section.settings.background %}
        background-image: url({{ section.settings.background | img_url: '1200x' }});
      {% endif %}
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px),
          (min-resolution: 192dpi)           and (max-width: 991px) {
    #password-background-{{ section.id }} {
      {% if section.settings.background_medium %}
        background-image: url({{ section.settings.background_medium | img_url: '1500x' }});
      {% elsif section.settings.background %}
        background-image: url({{ section.settings.background | img_url: '1500x' }});
      {% endif %}
    }
  }  
  @media (max-width: 767px) {
    #password-background-{{ section.id }} {
      background-position: center {{ section.settings.background_small_vertical_alignment }};
      {% if section.settings.background_small %}
        background-image: url({{ section.settings.background_small | img_url: '800x' }});
      {% elsif section.settings.background %}
        background-image: url({{ section.settings.background | img_url: '800x' }});
      {% endif %}
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
          (min-resolution: 192dpi)           and (max-width: 767px) {
    #password-background-{{ section.id }} {
      {% if section.settings.background_small %}
        background-image: url({{ section.settings.background_small | img_url: '1200x' }});
      {% elsif section.settings.background %}
        background-image: url({{ section.settings.background | img_url: '1200x' }});
      {% endif %}
    }
  }
</style>

<div class="password-page{% if section.settings.light_text %} password-page--light{% endif %}">
  {% if section.settings.background %}
    <div id="password-background-{{ section.id }}" class="password__background" role="img" aria-label="{{ section.settings.background.alt | escape }}"></div>
  {% endif %}
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-11 col-xxl-9">
        
        {% if section.settings.show_logo %}
          <img src="{{ 'logo.png' | asset_img_url: '300x' }}" alt="{{ shop.name }}" />
        {% endif %}

        <h2 class="h1">{{ section.settings.title }}</h2>

        {% if section.settings.subtitle != blank %}
          <h4>{{ section.settings.subtitle }}</h4>
        {% endif %}
        {% if section.settings.content != blank %}
          <div>{{ section.settings.content }}</div>
        {% endif %}

        <div id="Login" style="display: none; width: 500px; max-width: 90%;">
          {% form 'storefront_password' %}
            <div class="form-group">
              <input type="password"
                name="password"
                id="Password"
                class="form-control"
                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
            </div>
            <div class="form-group">
              <button type="submit" name="commit" class="btn btn-primary btn-block">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  if(window.location.search.indexOf('password') > -1) {
    document.getElementById('Login').style.display = 'inline-block';
  }
</script>

{% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "subtitle",
        "type": "text",
        "label": "Subtitle"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "Content",
        "default": "<p>Check back soon to find out when we open!</p>"
      },
      {
        "type": "header",
        "content": "Design"
      },
      {
        "type": "checkbox",
        "id" : "light_text",
        "label": "Light Text",
        "default": false
      },
      {
        "type": "checkbox",
        "id" : "show_logo",
        "label": "Show Logo",
        "default": true
      },
      {
        "type": "header",
        "content": "Background",
        "info": "Main image will used as default.  Medium and small images will be displayed if they are set."
      },
      {
        "type": "image_picker",
        "id": "background",
        "label": "Main Image"
      },
      {
        "type": "image_picker",
        "id": "background_medium",
        "label": "Main Image - Medium Screens"
      },
      {
        "type": "image_picker",
        "id": "background_small",
        "label": "Main Image - Small Screens"
      }
    ]
  }
{% endschema %}
