{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" data-zoom-enabled="{{ section.settings.zoom_enabled }}" data-sticky-form-enabled="{{ section.settings.sticky_form_enabled }}" itemscope itemtype="http://schema.org/Product">

  {% if section.settings.sticky_form_enabled %}
    <div class="product-sticky-bar" data-product-sticky-bar>
      <div class="container">
        <div class="flex flex-align-items-center flex-justify-between" style="width: 100%;">
          <div>
            <h4>{{ product.title }}</h4>
            {% include 'product-detail-price', product: product, current_variant: current_variant %}
          </div>
          <div data-product-sticky-bar-form-slot></div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="layout-content-wrapper">

    <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
    <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
    <meta itemprop="brand" content="{{ product.vendor }}">
    <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
    <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

    {%- comment %} images, title, price, etc. {% endcomment -%}
    {% include 'product-detail-form',
                product: product,
                current_variant: current_variant,
                show_share_buttons: section.settings.show_share_buttons
    %}

    {% if section.settings.size_guide_page %}
      {% assign has_size = false %}
      {% for option in product.options %}  
        {% assign downcased_option = option | downcase %}
        {% if has_size == false and downcased_option == "size" %}
          {% assign has_size = true %}
        {% endif %}
      {% endfor %}

      {% if has_size %}
        <div class="container">
          <h3>Size Guide</h3>
          {{ pages[section.settings.size_guide_page].content }}
        </div>
      {% endif %}
    {% endif %}

  </div>
</div>

{% schema %}
  {
    "name": "Product Page",
    "settings": [
      {
        "type": "checkbox",
        "id": "zoom_enabled",
        "label" : "Zoom enabled",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "sticky_form_enabled",
        "label" : "Sticky form on scroll",
        "default": true
      },      
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "page",
        "id": "size_guide_page",
        "label": "Size Guide Page",
        "info": "Contents of this page will be displayed"
      }
    ]
  }
{% endschema %}
