<div data-section-id="{{ section.id }}" data-section-type="slideshow">
  {% if section.blocks.size > 0 %}
    <div class="Slideshow-Wrapper" data-slideshow-wrapper>
      <div class="Slideshow" 
           id="Slideshow-{{ section.id }}" 
           data-autoplay="{{ section.settings.autoplay }}" 
           data-speed="{{ section.settings.autoplay_speed }}"
           data-slideshow>
        {% for block in section.blocks %}
          <div class="Slideshow-Slide" {{ block.shopify_attributes }} data-slideshow-slide data-block-id="{{ block.id }}">
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}" class="Slideshow-Link">
            {% endif %}
          
              <div class="Slideshow-Image"{% if block.settings.image %} style="background-image: url('{{ block.settings.image | img_url: '2048x' }}'); background-position: {{ block.settings.alignment }};"{% endif %}>
                {% if block.settings.image == blank %}
                  {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                  {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>
              <div class="Slideshow-TextWrap">
                {% unless block.settings.title == blank %}
                  <h2 class="Slideshow-Title">
                    {{ block.settings.title }}
                  </h2>
                {% endunless %}
                {% unless block.settings.subheading == blank %}
                  <span class="Slideshow-Subtitle">
                    {{ block.settings.subheading | escape }}
                  </span>
                {% endunless %}
              </div>

            {% if block.settings.link != blank %}
              </a>
            {% endif %}
          </div>
        {% endfor %}

        {% if section.settings.autoplay %}
          <a href="#" data-slideshow-pause-toggle>Toggle autoplay</a>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    <p>{{ 'homepage.onboarding.no_content' | t }}</p>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Slideshow",
    "max_blocks": 4,
    "settings": [
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides",
        "default": true
      },
      {
        "type": "select",
        "id": "autoplay_speed",
        "label": "Change slides every",
        "options": [
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "7000"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment",
            "default": "top",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image slide"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Tell your brand's story through video and images"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Slideshow",
      "category": "Image",
      "settings": {
        "autoplay": true,
        "autoplay_speed": "5000"
      },
      "blocks": [
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
