<div data-section-id="{{ section.id }}"
     data-section-type="subscription-modal"
     data-seen-expiration="{{ section.settings.seen_expiration }}"
     data-enabled="{{ section.settings.enabled }}">
  
  <div class="modal fade subscription-modal" id="subscription-modal" tabindex="-1" role="dialog" aria-labelledby="subscription-modal-title" data-subscription-modal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="close" data-dismiss="modal" aria-label="Close">{% include 'icon-close' %}</a>
          {% if section.settings.header_text != blank %}
            <h3 class="modal-title" id="subscription-modal-title">{{ section.settings.header_text }}</h3>
          {% endif %}
        </div>
        <div class="modal-body">
          {% if settings.newsletter_form_action == blank %}
            <div class="alert alert-danger small">A valid newsletter form action URL is required for this section.  Please go to <strong>General Settings -> Mailing List</strong> in the theme editor to add this information</div>
          {% endif %}          
          {% if section.settings.image %}
            <img src="{{ section.settings.image | img_url: '600x' }}" class="subscription-modal__image" />
          {% endif %}

          <form action="{{ settings.newsletter_form_action }}" method="post" data-subscription-modal-form>
            {% if section.settings.body_text != blank %}
              <p>{{ section.settings.body_text }}</p>
            {% endif %}
            <div class="form-group">
              <input type="email" class="form-control" placeholder="{{ section.settings.placeholder_text }}" value="{% if customer %}{{ customer.email }}{% endif %}" required="required"/>
            </div>
            <input type="submit" class="btn btn-primary btn-block" name="submit" value="{{ section.settings.button_text }}" />
          </form>
          <div style="display: none;" data-subscription-modal-success>
            <h3>
              {% if section.settings.success_message != blank %}
                {{ section.settings.success_message | escape | newline_to_br }}
              {% else %}
                Thank you for subscribing!
              {% endif %}
            </h3>
          </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Subscription Modal",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Enabled?",
        "default": true
      },
      {
        "type": "range",
        "id": "seen_expiration",
        "min":  0,
        "max":  60,
        "step": 1,
        "unit": "d",
        "label": "Days before showing again",
        "default": 30,
        "info": "If a user submits their email or closes the form, this is how long we wait before showing again.  Set to '0' to never show again."
      },
      {
         "type": "header",
         "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "header_text",
        "label": "Header text"
      },
      {
        "type": "textarea",
        "id": "body_text",
        "label": "Body text"
      },
      {
        "type": "text",
        "id": "placeholder_text",
        "label": "Input placeholder text",
        "default": "Enter your email"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "Signup"
      },
      {
        "type": "textarea",
        "id": "success_message",
        "label": "Success Message",
        "info": "Text displayed when someone signs up successfully.  Leave blank for a generic message."
      }
    ]
  }
{% endschema %}